<BlockWrapper :attributes="attributes" :block="block" :preview="is_preview">

	{% if is_preview %}

		<div class="text-center text-lg px-container py-content">
			<p>Delete this block to get started.</p>
		</div>

	{% else %}

		<header class="wp-block-acf-welcome__hero">
			<div class="wp-block-acf-welcome__hero-background">
				{% include "blocks/welcome/mountain-scape.svg" %}
			</div>
			<div class="wp-block-acf-welcome__hero-overlay flex items-end justify-center pb-lg md:pb-3xl">
				<div class="text-violet-100 flow flow-space-sm text-center">
					<div class="celeste-logo relative text-center w-fit mx-auto">
						<span class="block font-mono text-xs pb-1 text-right text-violet-200">v{{ util.theme_version }}</span>
						{% include "blocks/welcome/celeste.svg" %}
					</div>
					<p class="text-lg">To get started, head over to the <a class="text-yellow-400 font-bold hover:text-yellow-300" href="/wp-admin/post.php?post=2&action=edit">Editor</a> and delete the <strong>Welcome</strong> block!</p>
					<Icon name="caret-down" class="wp-block-acf-welcome__hero-scroll mx-auto" />
				</div>
			</div>
		</header>

		{% if changelog %}
			<div
				id="changelog"
				class="changelog max-w-md mx-auto py-20"
				x-data="{ isExpanded: false }"
				:data-expanded="isExpanded ? 'true' : 'false'"
			>
				<div class="prose">
					<h2 class="h1">Changelog</h2>
					{{ changelog | raw }}
				</div>
				<Button
					size="sm"
					type="button"
					@click="isExpanded = !isExpanded"
					x-text="isExpanded ? 'Show less' : 'Show more'"
				>
					Show more
				</Button>
			</div>
		{% endif %}

	{% endif %}

</BlockWrapper>

<BlockWrapper :attributes="attributes" :block="block" :preview="is_preview">
    <Goform :id="fields.goform_id">
        <InnerBlocks />
    </Goform>
</BlockWrapper>

<BlockWrapper :attributes="attributes" :block="block" :preview="is_preview">
	{% if fields.type == "textarea" %}
		<Input
			:name="fields.name"
			:label="fields.label"
			:required="fields.required"
			type="textarea"
		/>
	{% elseif fields.type == "select" %}
		<Select
			:name="fields.name"
			:label="fields.label"
			:required="fields.required"
		>
			{% for choice in fields.choices %}
				<option value="{{ choice.value }}">{{ choice.label }}</option>
			{% endfor %}
		</Select>
	{% elseif fields.type == "hidden" %}

		{% if is_preview %}
			<p class="border border-dashed rounded-xs py-1 px-3 text-gray-600 font-mono text-sm">Hidden Input <code>`{{ fields.name }}`</code></p>
		{% endif %}

		<input
			type="hidden"
			name="{{ fields.name }}"
			value="{{ fields.value }}"
			{{ fields.required ? 'required' : '' }}
		>
	{% else %}
		<Input
			:name="fields.name"
			:label="fields.label"
			:type="fields.type"
			:required="fields.required"
		/>
	{% endif %}
</BlockWrapper>
